
.gradient-border {
  --border-width: 5px;
  position: relative;
  background: #222;
  /* border-radius: 10px; */
}
.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  /* background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0); */
  background: linear-gradient(60deg, #DA3068, #14469F, #FF6978);

  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 10px;
  animation: moveGradient 5s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}