@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {

  box-sizing: border-box;
}

.waviy{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}