/* Wave */

* {
  box-sizing: border-box;
}

.waviy{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  /* animation: 1s input_move_in;  */
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* Slide in */
 .user_input{
  animation: 1s input_move_in; 
}

@keyframes input_move_in{
from {
    transform: translateX(200%);
  }
  to {
    
  }
} 

