body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color:#0C090A;
    color:burlywood;
    height: 100vh;
}



nav{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51);
    
}

main{
     height:93vh;
    
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;

    border-style: solid;
  border-color: rgb(6, 94, 39);
   border-top-style:hidden;
}

nav a:link, nav a:visited{
    width: 50%;
    text-decoration: none;
    color:burlywood;
}

nav a:hover{
    background-color: green;
}

#input-tab{
     border-style: solid;
    border-color: rgb(6, 94, 39);
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    
}

#graph-tab{
background-color: #0C090A;
    border-style: solid;
    border-color: rgb(6, 94, 39);
    border-bottom-style:hidden;
}


nav div{
    /* width: 100%; */
    /* height: 100%; */
    flex-direction: column;
    align-self:center;
    align-items: center;
    
    display: flex;
}

main div{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 10px;

}

