body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color:#0C090A;
    color:burlywood;
    height: 100vh;
}

nav{
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51);
    
}

nav a:link, nav a:visited{
    width: 50%;
    text-decoration: none;
    color:burlywood;
}

nav a:hover{
    background-color: green;
}

#input-tab{
    background-color: #0C090A;
    border-style: solid;
    border-color: rgb(6, 94, 39);
    border-bottom-style:hidden;
}

#graph-tab{
    border-style: solid;
    border-color: rgb(6, 94, 39);
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
   
}


nav div{
    width: 100%;
    height: 100%;
    text-align: center;
}

main{
    height:93vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid;
  border-color: rgb(6, 94, 39);
   border-top-style:hidden;

}
main div{
    width: 100%;
}

body div{
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;
}

.user_input{
    margin-top: 3vh;
    color: aliceblue;
    border-radius: 7px;
    align-self: center;
    font-size: medium;
}

input{
    padding: 20px;
}

#input_name{
    width: 50%;
    height: 50px;
    border-radius: 15px; 
    font-size: large;
    /* background-color:rgb(122, 94, 33); */
     background-color: #0C090A;;
}

#input_type{
    /* background-color:rgb(40, 102, 74);*/
     background-color: #0C090A;
    width: 25%;
}

#input_language{
     /* background-color:rgb(77, 40, 102); */
     background-color: #0C090A;
     width: 25%;
}

#button-submit {
    width: 30%;
    align-self: center;
    background-color: cornflowerblue;
    color: aliceblue;
}


.index-buttons {
    display: flex;
    flex-direction: column;
    height: 70vh;
    
}

.index-buttons button{
    font-size:larger;
    height: 50%;
    width: 50%;
}