body{
    margin: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    /* background-color:#0C090A; */
    color:burlywood;
    /* height: 100vh; */
    overflow: hidden;
}

.error_box{
    display: flex;
    flex-direction: column;
    z-index: 5;
    text-align: center;
    
}


nav{
    z-index: 1;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51);
    
}

main{
     height:100%;
    
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;

}

nav a:link, nav a:visited{
    width: 50%;
    text-decoration: none;
    color:burlywood;
}

nav a:hover{
    background-color: green;
}

#input-tab{
     border-style: solid;
    border-color: rgb(6, 94, 39);
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    
}

#graph-tab{
background-color: #000;
    border-style: solid;
    border-color: rgb(6, 94, 39);
    border-bottom-style:hidden;
    border-right-style:hidden;
}


nav div{
    /* width: 100%; */
    /* height: 100%; */
    flex-direction: column;
    align-self:center;
    align-items: center;
    
    display: flex;
}

main div{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 10px;

}


    .bg-gradient {
           /* height: 100%; */
        /* width: 100vw; */
        height: 100vh;
      position: absolute;
      inset: 0;            /* same as top:0; bottom:0; left:0; right:0 */
      z-index: 0;
      /* width: 100vw;
      height: 100vh; */
      
      background: radial-gradient(
        125% 125% at 50% 10%,
        #000000 40%,
        #072607 100%
      );
    }

    #myChart{
        z-index: 1;
        
    }

    .content {
      position: relative;
      z-index: 1; /* sits above the background */
      color: white;
      padding: 2rem;
      font-size: 1.5rem;
    }

    .wrapper{
        /* display:block; */
    }