
#input-tab{
     border-style: solid;
    border-color: rgb(6, 94, 39);
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    
}

#graph-tab{
background-color: #000;
    border-style: solid;
    border-color: rgb(6, 94, 39);
    border-bottom-style:hidden;
    border-right-style:hidden;
}

/* General Body */
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: burlywood;
    overflow: hidden;
}

/* Navigation */
nav{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51);
    flex-shrink: 0; /* prevent nav from shrinking */
}

nav a:link, nav a:visited{
    width: 50%;
    text-decoration: none;
    color: burlywood;
}

nav a:hover{
    background-color: green;
}

nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Area */
main{
    padding: 2rem;
    z-index: 1;
    flex: 1; /* main takes remaining space */
    display: flex;
    flex-direction: column; /* #showData and #myChart side by side */
    justify-content: space-around; 
     /* justify-content: center; */
    
    align-items: stretch; /* make children fill main vertically */
    position: relative; /* for bg-gradient */
    overflow: hidden;

    background: radial-gradient(
        125% 125% at 50% 10%,
        #000000 40%,
        #072607 100%
    );
   
}


/* Table Styling */
table{
    z-index: 1;
    width: 100%;
    border-collapse: collapse;
}

table, td, th{
    color: #e8e6e3;
    border: 1px solid #736b5e;
}

th, td{
    padding: 10px;
    text-align: center;
}

th{
    background-color: #004918;
}

tbody tr:nth-child(even){
    background-color: #202324;
}

.wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    height: 100%; 
    overflow: hidden; 
}

/* Show Data Table */
#showData{
    flex: 1 1 40%;
    overflow: auto; /* scroll if content is too big */
    /* padding: 2rem; */
    /* align-self: center; */
}

/* Chart Canvas */
canvas#myChart{
     /* padding: 2rem; */
    /* flex: 1 1 60%;  */
    /* max-width: 50%;  */
    /* max-height: 100%;  */
    height: auto;
    width: auto; 
    display: block;
    aspect-ratio: 1 / 1;
}

.error_box{
    display: flex;
    flex-direction: column;
    z-index: 5;
    text-align: center;
}
